@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Lato", sans-serif;
  font-size: 14px;
}

img {
  display: inline-block;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.btn {
  padding: 5px 10px;
}

.btn:hover {
  cursor: pointer;
}

.btn-primary {
  color: white;
  background-color: rgba(0, 97, 255, 1);
  border: none;
}

.btn-primary:hover {
  background-color: rgba(0, 97, 255, 0.7);
}
/****Header***/
header {
  background-color: #b4d0e7;
  height: calc(100%-60px);
}
/****Navigation *****/
nav {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  position: fixed;
  width: 100%;
  z-index: 3;
}

nav ul.nav_left,
nav ul.nav_right {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 100%;
}

nav ul.nav_left li,
nav ul.nav_right li {
  padding-top: 30px;
  color: black;
  font-weight: 300;
  height: 100%;
}

nav li:hover {
  border-bottom: 1px solid black;
}

nav ul.nav_left li:first-child:hover,
nav ul.nav_right li:last-child:hover {
  border: none;
}

/*jumbotron------------------- */
.jumbotron,
.wrapper {
  width: 75%;
  margin: 0 auto;
}
.jumbotron {
  padding-top: 100px;
}
h1 {
  font-size: 3.6rem;
  font-weight: 700;
}

.jumbotron .container {
  display: flex;
  margin-top: 2rem;
}

.jumbotron .container .cta {
  flex-basis: 30%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.cta button {
  width: 50%;
}

.jumbotron svg {
  margin-top: 3rem;
  height: 3rem;
}

.jumbotron .container figure {
  width: 70%;
  height: 60vh;
}

.jumbotron .container figure img {
  height: calc(100% + 60px);
}
/*********main***********/

main .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  padding-inline: 5%;
  padding-top: 80px;
}
h2 {
  font-weight: 700;
}
.radios {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 10px;
}
.radio {
  width: 14px;
  height: 14px;
  border: 1px solid gray;
  border-radius: 50%;
}

.radio:hover {
  border: 3px solid #0061ff;
}

/*******section1 cards*/
.cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 15px;
}

.card {
  min-height: 40vh;
  flex-basis: calc((100% / 3) - 10px);
  border: 1px solid #d2d2d5;
}

#section-1 .card {
  font-size: 14px;
}

#section-1 .card:last-child {
  flex-basis: 100%;
}

#section-1 .card-header {
  text-align: center;
  padding-block: 10px;
}

#section-1 .card svg {
  height: 1rem;
}

#section-1 .cards .card .card-header {
  border-bottom: 1px solid #d2d2d5;
}

#section-1 .cards .card .card-body,
#section-1 .cards .card .card-footer {
  padding-block: 10px;
  padding-inline: 1rem;
  line-height: 1.8;
}
.mese {
  color: lightgray;
}

#section-1 button {
  width: 100%;
}

#section-1 a {
  text-decoration: underline;
  color: #2626f1;
}

#section-1 .cards .card-body li {
  display: flex;
  align-items: center;
}

#section-1 .cards .card-body li img {
  height: 12px;
  margin-right: 0.5rem;
}

.share-icon {
  margin-top: 5px;
  align-self: flex-start;
}

hr {
  margin-block: 0.5rem;
  margin-left: 1rem;
  color: #d2d2d5;
  width: 15%;
}
#section-1 .cards .card li {
  font-size: 12px;
  padding-block: 10px;
}

#section-1 .cards .card li i {
  padding-right: 5px;
}
#section-1 .cards .card-footer li:before {
  content: "\2714";
  color: #0061ff;
}

/**  enterprise card   ***/

#section-1 .card:last-child .top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#section-1 .card:last-child .top button {
  width: 40%;
}

#section-1 .card:last-child .card-body {
  padding: 1rem;
}

#section-1 .card:last-child .top p {
  margin-top: 3rem;
  font-size: 12px;
}

/*------section 2---*/
#section-2 .wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#section-2 .wrapper figure img {
  width: 100%;
}

#section-2 .text-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 70%;
  font-size: 14px;
}

.text-box button {
  width: 50%;
  background-color: transparent;
  color: black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-top: 1px solid gray;
  border-right: 1px solid gray;
}

.text-box button:hover {
  color: rgba(0, 0, 0, 0.692);
}

/**section 3  ***/
#section-3 .card {
  border: none;
  font-size: 12px;
}
#section-3 .card figure img {
  width: 100%;
}

#section-3 .card h3 {
  font-size: 16px;
  margin: 1rem 0 2rem;
}

#section-3 h2 {
  margin: 2rem 0;
  font-size: 3rem;
}

#section-3 a {
  text-decoration: underline;
  color: #2626f1;
}

/**** section 4***/
#section-4 .container {
  display: flex;
  height: 70vh;
  margin-top: 2rem;
}

#section-4 .container .partners,
#section-4 .container .middle {
  display: flex;
  width: calc(100% / 3);
}
#section-4 .container .partners {
  flex-wrap: wrap;
}

#section-4 .container .partners .partner-logo {
  width: 50%;
  height: 50%;
  display: flex;

  align-items: center;
}
#section-4 .container .partners .partner-logo figure {
  width: 40%;
  height: 35%;
  margin: 0 auto;
}
#section-4 .container .partners .partner-logo svg {
  width: 100%;
  height: 100%;
  fill: white;
}

#section-4 .container .middle {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: auto;
}

#section-4 .container .middle figure {
  width: 50%;
}

#section-4 .container .middle figure svg {
  height: 6rem;
  width: 100%;
}

#section-4 .container .middle hr {
  margin-left: 5px;
  margin-block: 40px;
}

#section-4 .container .middle span {
  margin-top: 40px;
}

/**middle part **/

/* section 4 h2 btn*/
#section-4 .wrapper {
  height: 40vh;
  padding: 0 5%;
}
#section-4 .wrapper .container {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

#section-4 .wrapper .container h2 {
  flex-basis: 50%;
  font-size: 2.8rem;
  color: #61082b;
}

#section-4 .wrapper .container button {
  border: none;
  padding: 10px 20px;
}

#section-4 .wrapper .container button:hover {
  color: rgba(0, 0, 0, 0.685);
}

/*-------FAQ*/

.faq {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 60px;
}
.faq h2 {
  font-size: 2rem;
}
.faq .question {
  padding-block: 25px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
}

#q1 {
  border-top: 1px solid #d2d2d5;
}

.faq .wrapper .question-box:last-child {
  border-bottom: 1px solid #d2d2d5;
}
/********* Footer *******/

footer {
  background-color: #000;
  color: #fff;
  margin-top: 50px;
  padding-block: 30px;
}

footer .wrapper .container {
  display: flex;
  gap: 35px;
  width: 100%;
}

footer .wrapper .container .footer-col {
  width: calc((100% / 5));
}

footer .wrapper .container .footer-col ul {
  line-height: 1.5;
}
footer .wrapper .container .footer-col h4 {
  margin: 0.5rem 0;
  font-size: 1.2rem;
}
footer .wrapper .container .footer-col ul li {
  padding-block: 5px;
}

footer .wrapper .container .footer-col ul li a {
  color: #fff;
}

footer hr {
  color: #d2d2d5;
  margin: 1.5rem 0;
  width: 10%;
}
