@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Lato", sans-serif;
}

img {
  display: inline-block;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.btn {
  padding: 5px 10px;
}

.btn-primary {
  color: white;
  background-color: #0061ff;
  border: none;
}

.btn-primary:hover {
  opacity: 0.7;
}

header {
  background-color: #b4d0e7;
  height: calc(100%-50px);
}

nav {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul.nav_left,
nav ul.nav_right {
  display: flex;
  align-items: center;
  gap: 1rem;
}
nav ul.nav_left li,
nav ul.nav_right li {
  padding-block: 10px;
  display: inline-block;
  color: black;
  font-weight: 300;
  height: 100%;
}

nav li:hover:not(nav ul.nav_left li:first-child) {
  border-bottom: 1px solid black;
}

nav li:hover:not(nav ul.nav_right li:last-child) {
  border-bottom: 1px solid black;
}

.jumbotron,
main .wrapper,
footer .wrapper {
  padding-top: 50px;
  width: 75%;
  margin: 0 auto;
}

h1 {
  font-size: 3.6rem;
  font-weight: 700;
}

.jumbotron .container {
  display: flex;
  margin-top: 2rem;
  padding: 10px;
}

.jumbotron .container .cta {
  width: 30%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.cta button {
  width: 50%;
}
#arr-icon {
  position: absolute;
  bottom: 0px;
  left: 0;
}

.jumbotron svg {
  height: 3.5rem;
}

.jumbotron .container figure {
  position: relative;
  height: 60vh;
}

.jumbotron .container figure img {
  height: calc(100%+50px);
  position: absolute;
  top: 0;
}
